
    .headerFormat {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-bottom: 9px;
    }

    #divLine {
        border-color: black;
        border-bottom: 20;
        border-width: 3px;
        border-style: solid;
        align-content: center;
        ;
    }

    .bodyText {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-align: justify;
    }
